$scroll-container-width: 100vh;
$scroll-container-height: 100vw;

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    font-size: calc(12px + (26 - 12) * ((100vw - 300px) / (1600 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.sideways-scroll-container {
    scroll-snap-type: y proximity;
    transform: rotate(-90deg) translateY(-$scroll-container-width);
    transform-origin: top right;
    overflow-y: scroll;
    overflow-x: hidden;

    background-color: black;
    height: $scroll-container-height;
    width: $scroll-container-width;
}

.sideways-scroll-child {
    scroll-snap-align: start;
    scroll-snap-stop: normal;

    height: $scroll-container-height;
    width: $scroll-container-width;
    align-items: center;
    justify-content: center;

    overflow: visible;

    // background: rgb(255, 255, 255);
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(226, 226, 226) 100%);
}

.scroll-child-content {
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
    height: $scroll-container-width;
    width: $scroll-container-height;
    padding: 5%;

    display: flex;
    align-items: center;
    justify-content: center;

    .content-wrapper {
        text-align: justify;
    }
}

/* CONTENT STYLING */
h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: steelblue;
    padding-bottom: 10px;
}


// .sideways-scroll-child:nth-child(1) .scroll-child-content {
//     background-color: white;
// }

// .sideways-scroll-child:nth-child(2) .scroll-child-content {
//     background-color: rgb(230, 230, 230);
// }

// .sideways-scroll-child:nth-child(3) .scroll-child-content {
//     background-color: rgb(210, 210, 210);
// }

// .sideways-scroll-child:nth-child(4) .scroll-child-content {
//     background-color: rgb(190, 190, 190);
// }

// .sideways-scroll-child:nth-child(5) .scroll-child-content {
//     background-color: rgb(170, 170, 170);
// }

::-webkit-scrollbar {
    display: none;
}